<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ render(
            controller(
                'App\\Application\\Controller\\ComponentController::sidebar',
                { 'path': app.request.pathInfo }
            )
        ) }}

        <div style="padding-left: 180px;">
            <div style="width: 1170px; display: flex; margin: 0 auto;">
                {% block content %}
                    <p>asd asd asd</p>
                    <p>asd asd asd</p>
                    <p>asd asd asd</p>
                    <p>asd asd asd</p>
                {% endblock %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
