<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('app.css', 'build') }}">
    </head>
    <body>
        {{ render(
            controller(
                'App\\Application\\Controller\\ComponentController::sidebar',
                { 'path': app.request.pathInfo }
            )
        ) }}

        <div style="padding-left: 180px;">
            <div style="width: 1170px; min-height: 100vh; display: flex; margin: 0 auto; background-color: #222">
                <div id="content"></div>
            </div>
        </div>

        <script src="{{ asset('runtime.js', 'build') }}"></script>
        <script src="{{ asset('app.js', 'build') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
