{% extends 'base.html.twig' %}

{% block content %}
    <div style="width: 360px; margin: 0 15px; display: flex; flex-direction: column;">
        <div style="width: 100%">asd asd asd </div>
        <div style="width: 100%">asd asd asd </div>
        <div style="width: 100%">asd asd asd </div>
        <div style="width: 100%">asd asd asd </div>
    </div>

    <div style="width: calc(100% - 360px); margin: 0 15px; background-color: #333;">

    </div>
{% endblock %}

