<div class="sidebar" style="width: 180px; position: fixed; height: 100vh; margin: 0 auto;">
    <div class="sidebar__logo">
        <img src="{{ asset(sidebar.logo.image, 'image') }}" alt="sidebar-logo">
    </div>

    <style>
        button {
            width: 180px;
            background-color: #fff;
            border: none;
            padding: 10px 0;
            cursor: pointer;
            outline: none;
            text-transform: capitalize;
            font-size: 16px;
        }

        button:hover {
            background-color: #ccc;
        }

        button:active {
            background-color: #999;
        }
    </style>

    <div class="sidebar__nav">
        {% for link in sidebar.navigation %}
            <div>
                <button class="sidebar__item" id="{{ link.route }}-LINK">{{ link.name }}</button>
            </div>
        {% endfor %}
    </div>

</div>
