<div style="text-align: center; border: 1px solid #fff;">
    <h1>Dashboard</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices, nunc at aliquam mattis, tellus justo
        laoreet metus, eu pharetra metus magna eu tellus. Cras rutrum risus vitae volutpat suscipit. Etiam feugiat
        auctor imperdiet. Etiam vel dolor dapibus, faucibus erat non, dapibus justo. Vestibulum sodales, sapien non
        blandit lobortis, massa leo tristique nulla, eu mollis arcu metus nec quam. Pellentesque quis tellus id purus
        faucibus dignissim. Vestibulum pulvinar mollis bibendum.
    </p>
    <h2>Dashboard</h2>
    <p>
        Sed sit amet hendrerit magna, id euismod lacus. Proin tincidunt urna sit amet leo varius, id sodales odio
        consectetur. Phasellus orci turpis, lacinia ac luctus non, condimentum et urna. Donec sapien elit, faucibus eget
        lacus non, imperdiet porta est. Nulla non purus ac nisi pharetra ultricies. Suspendisse semper, urna vitae
        pretium lacinia, dui urna dignissim lorem, quis vestibulum est ipsum maximus justo. Fusce maximus enim non
    </p>
    <h2>Dashboard</h2>
    <p>
        dolor volutpat, ac gravida erat elementum. Pellentesque vehicula aliquam consequat. Sed id velit vitae nisi
        hendrerit mollis ac quis risus. Aliquam non enim et tellus sagittis consectetur. Nulla at efficitur magna. Morbi
        a semper orci.
    </p>
</div>
